body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Poppins", sans-serif !important;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-size: 16px;
}

a {
  text-decoration: none;
}
.navbar-brand {
  font-weight: 500;
  font-size: 26px;
  color: blue;
}
.navbar-brand:hover {
  color: blue;
}
.nav-links a {
  color: #000;
}

.nav-links a:hover {
  color: white;
  background-color: blue;
  border-radius: 5px;
}
.title {
  color: #fff;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}
.sub-title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}
.input-group {
  width: 100%;
  height: 60px;
}

.login {
  padding: 30px;
}
.light {
  color: white;
}
.h-400 {
  height: 100px;
}
